.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.features__item {
  // flex-basis: calc((100% - 120px) / 4);
  margin-bottom: 30px;
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
  &::before {
    content: '';
    display: block;
    margin-bottom: 30px;
    height: 120px;

    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--third-background-color);
  }
  &:nth-child(1):before {
    background-image: url(../images/svg/antenna.svg);
    background-size: 70px 70px;
  }
  &:nth-child(2):before {
    background-image: url(../images/svg/clock.svg);
    background-size: 70px 70px;
  }
  &:nth-child(3):before {
    background-image: url(../images/svg/diagram.svg);
    background-size: 70px 70px;
  }
  &:nth-child(4):before {
    background-image: url(../images/svg/astronaut.svg);
    background-size: 70px 70px;
  }
}

.features__title {
  margin-bottom: 10px;
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-title-color);
  @media screen and (min-width: 480px) {
    text-align: start;
  }
}

.features__description {
  font-size: 14px;
  line-height: 1.71;
}

//  cпосіб через спрайт
//  <div class="feature-list-item-bc">
// <svg class="feature-list-item-icon">
// <use href="./images/svg/sprite.svg#icon-antenna"></use>
// </svg>
// </div> */
//  .feature-list-item-bc {
// background-color: var(--third-background-color);
// width: 270px;
// height: 120px;
// display: flex;
// justify-content: center;
// align-items: center;
// }
// .feature-list-item-icon {
// width: 70px;
// height: 70px;
