.header {
  border-bottom: 1px solid #ececec;
}

.header__logo {
  margin-right: 93px;
}

.header__contact {
  display: flex;
  margin-left: auto;
}

.header__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header__link {
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  transition: color var(--transition-duration) var(--cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}
