.header {
  background-color: var(--primary-background-color);
  border-bottom: 1px solid #ececec;
  &-container {
    display: flex;
    align-items: center;
  }
}
.header-contact {
  display: flex;
  margin-left: auto;
}
.header-contact-link {
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  align-items: center;
  transition: color var(--transition-duration) var(--cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contact-item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contact-item-icon {
  margin-right: 10px;
  fill: currentColor;
}
