.modal-form {
  padding: 40px;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-title-color);
  margin-bottom: 12px;
}

.modal-form-infoblock-comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  transition: border-color var(--transition-duration) var(--cubic);
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form-policy {
  position: relative;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 10px;
}

.modal-form-policy-checkbox {
  display: block;
  margin-left: 0;
  top: 50%;
  left: 7px;
  transform: translateY(50%);
}

.modal-form-policy-wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #212121;
  width: 16px;
  height: 16px;
  margin-right: 9px;
  border-radius: 2px;
  .modal-form-policy-checkbox:checked + & {
    background-color: var(--accent-color);
    fill: var(--secondary-title-color);
    border: 1px solid transparent;
  }
}

.modal-form-policy-wrap-icon {
  fill: var(--secondary-title-color);
}

.modal-form-policy-text {
  font-size: 14px;
  line-height: 1.71;
}

.modal-form-policy-text-link {
  color: var(--accent-color);
}
