.nav__list {
  display: flex;
}

.nav__item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__link {
  display: block;
  color: var(--primary-title-color);
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.02em;
  padding: 32px 0px;
  transition: color var(--transition-duration) var(--cubic);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &_current {
    color: var(--accent-color);
    position: relative;
    &::after {
      position: absolute;
      bottom: -1px;
      content: '';
      width: 100%;
      height: 4px;
      display: block;
      background-color: var(--accent-color);
      border-radius: 2px;
    }
  }
}
