.social {
  display: flex;
  // flex-wrap: wrap;
}
.social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-background-color);
  border-radius: 50%;
  transition: background-color var(--transition-duration) var(--cubic);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social__icon {
  fill: var(--company-logo-fill);
  width: 20px;
  height: 20px;
  transition: fill var(--transition-duration) var(--cubic);
  .social__link:hover &,
  .social__link:focus & {
    fill: var(--secondary-title-color);
  }
}
