h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

* :hover,
:focus {
  outline: none;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
}
