:root {
  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --logo: #000000;
  --hero-background-color: #c4c4c4;
  --company-logo-fill: #afb1b8;
  --transition-duration: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --main-font: 'Roboto';
  --secondary-font: 'Raleway';
}
//color of text #2196F3 logo accent #212121 anchor h3 h2
//#757575 adreess-info  paragr  #FFFFFF (primary-bacground-color)h1
//rgba(255, 255, 255, 0.6) footer-adress
// color of background #FFFFFF header main-section
// #2F303A hero footer #F5F4FA  other-section 188CE8 hover hero button*/
